.main-layout-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--bg-light);
}

.main-container {
    height: calc(100vh - 64px);
    /* Toolbar height */
    overflow: hidden;
}

.admin-sidebar {
    background-color: var(--card-bg);
    border-right: 1px solid var(--glass-border);
    z-index: 10;
}

.content-area {
    overflow-y: auto;
}