.sidebar-list {
    width: 250px;
    height: 100%;
    background-color: var(--card-bg);
    border-right: 1px solid var(--glass-border);
}

.active-item {
    background-color: rgba(249, 115, 22, 0.1);
    color: var(--primary-color) !important;
}

.sidebar-header {
    background-color: var(--bg-dark);
    border-bottom: 1px solid var(--glass-border);
}